* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(min2.jpg);
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: white;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 25%;
    /* background: #fff;
    border: 1px solid #ccc; */
    margin-bottom: 50px;
    transition: 0.3s;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card0 img{
    width: 8cm;
    height: 8cm;
  }
  .card1 img{
    width: 10cm;
    height: 6cm;
  }
  .card2 img{
    width: 8cm;
    height: 8cm;
  }
  .card3 img{
    width: 10cm;
    height: 7cm;
  }
  .card4 img{
    width: 10cm;
    height: 5cm;
  }
  .card5 img{
    width: 10cm;
    height: 8cm;
  }
  .card4{
    margin-top: 40px;
  }
  .card3{
    margin-left: -1.5cm;
  }
  .card5{
    margin-left: -1cm;
    margin-top: -1cm;
  }
  .card1{
    margin-left: -1cm;
    
  }


  /* #nav {
    background-color: black;
    
} */
.left {
  /* display: inline-block; */
  /* border: 2px solid red; */
  /* position: absolute;
  left: 60px;
  top: 20px; */
  height: 130px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.left img{
  width: 150px;
  height: 130px;
}
  
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
  